# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# macOS
.DS_Store

# Editors
.vscode/
*.swp
